html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #0d2147;
    background-image: radial-gradient(#11286E 5%, #112c5e 60%, #ffffff00 80%);
    z-index: -2;
}
.header{
    width: 100%;
    height: 60px;
}
.main{
    flex-grow: 1;
    padding: 10px;
    padding-top: 0;
    padding-left:20px;
    width: 100vw;
    height: 100%;
    display: grid;
    // padding-bottom: 0px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: 
    'cell1 cell2 cell3'
    'cell1 cell2 cell5'
    'cell1 cell2 cell5'
    'cell4 cell2 cell5'
    'cell4 cell2 cell5'
    'cell4 cell2 cell5'
    'cell4 cell2 cell8'
    'cell6 cell2 cell8'
    'cell6 cell2 cell8'
    'cell6 cell2 cell8'
    'cell6 cell2 cell8'
    'cell6 cell2 cell8'
    ;
    grid-gap:10px;
    .cell{
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        position: relative;
        background-color: #04b8ff11;
        border: 1px solid #fcfcfc07;
        z-index: 1;
        &::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            /* 从父元素继承 background 属性的设置 */
            background: inherit;
            z-index: 2;
            filter: blur(2px);
            pointer-events: none;
        }
        .content{
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .box{
            padding-top: 40px;
            p.menu{
                pointer-events: none;
                position: absolute;
                top: 5px;
                left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .menu-icon{
                    display: block;
                    path{
                        fill: #5dc9ff !important;
                    }
                }
                span{
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    color: #5dc9ff;
                    user-select: none;
                }
            }
        }
    }
    .cell1{
        grid-area: cell1;
    }
    .cell2{
        grid-area: cell2;
    }
    .cell3{
        grid-area: cell3;
    }
    .cell4{
        grid-area: cell4;
    }
    .cell5{
        grid-area: cell5;
    }
    .cell6{
        grid-area: cell6;
    }
    .cell7{
        grid-area: cell7;
    }
    .cell8{
        grid-area: cell8;
    }
}
.btn_change{
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 40px;
    height:25px;
    background-color: #1D9CD1;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    &:active{
        transform: scale(0.9);
    }
    &.delete{
        background-color: #d11d1d;
    }
}
.map{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}